@charset "UTF-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family:helvetica, arial, sans-serif;
	}

header {
	width: 100%;
	height: 60px;
	background-color: #EDEDED; }
	
h1 {
	font-family:helvetica, arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	}
article {
	margin-left: 40px;
	
	
	}
ul {
	list-style: none;
	
	}
	
#menu {
	float: right;
	margin-top: 20px;
	margin-right: 60px;
	}
.links {
	list-style: none;
	float: left;
	margin-right: 20px;
	}
.links a {
	color: white;
	font-family:helvetica, arial, sans-serif;
	font-size: 16px;
	border: 10px solid #914E57;
	background-color: #914E57;
	}
.links a:hover {
	background-color: #B2808E;
	border: 10px solid #B2808E;
	}
.active {
	background-color: #B2808E;
	border: 10px solid #B2808E;
	}
.pdetails {
	color: black;
	border-bottom: 1px solid black;
	}
.pdetails:hover {
	color: #B2808E;
	border-bottom: 1px solid #B2808E;
	}
p {
	color: #797979;
	
	}